page-eventModal {
    .inline {
        display: inline-block;
    }
    .card-col {
        width: 100%;
    }
    .qrcode-text {
        border: 1px black solid;
        padding-right: 1.7em;
        margin-right: 0;
        vertical-align: middle;
    }

    .qrcode-text-btn {
        display: inline-block;
        height: auto;
        border-radius: 6px;
        width: 100%;
        border: none;
        transition: 0.3s;
        width: 100%;
        background-color: #4885ed;
        color: white;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        // padding-right: 
        text-align: center;
        font-size: 18px;
    }
    
    .qrcode-text-btn > input[type=file] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
    }

    .qrcode-text + .qrcode-text-btn {
    width: 1.7em;
    margin-left: -1.7em;
    vertical-align: middle;
    }
}
