<ion-header>
  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let event of events | async" (click)="scan(event.name)">
      <ion-card-header style="background-color: #A3D3F2">
        {{event.name}}
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <div class="inline"><b> Date:</b></div>
            <div class="inline">{{event.day}}, {{event.startTime | date:'MM-dd-yyyy'}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="inline"><b>Time:</b></div>
            <div class="inline">{{event.startTime | date:'shortTime'}} to {{event.endTime | date:'shortTime'}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="event.location !== ''">
            <div class="inline"><b>Location:</b></div>
            <div class="inline">{{event.location}}</div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="event.description !== ''">
          <ion-col>
            <b>Description:</b>
            <p>{{event.description}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="inline"><b>Type:</b></div>
            <div class="inline">{{event.type}}</div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="event.attendants">
          <ion-col>
            <ion-item>
              <b>Attended</b>
              <ion-badge item-end>{{event.attendants.length}}</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!event.attendants">
          <ion-col>
            <ion-item>
              <b>Attended</b>
              <ion-badge item-end>0</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
